body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #383838;
    font-weight: 400;
    line-height: 1.25;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color:chocolate;
    text-align: center;
}
h1{
    font-weight: bold;
    font-size: larger;
    
}
